<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ex deserunt neque eius saepe nemo corporis. Molestiae dignissimos facilis eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error quia, a odio nostrum eligendi earum eum soluta molestias neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex architecto impedit minus aut quibusdam illo sequi quae, recusandae doloribus officiis.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>